<div class="container">
  <div id="content" class="container col-sm-5 panel panel-default ">
    <div style="float:left">
      <h2><%= @article.title %></h2>
    </div>
    <div style="clear:both">
      <p><%= @article.detail %></p>
    </div>

    <h4>記事へのコメント</h4>
    <% if @article.comments.present? %>
      <%= @article.comments.each do |comment| %>
        <span><%= comment.content %></span>
      <% end %>
    <% else %>
      <p>この記事へのコメントはまだありません</p>
    <% end %>
    <div style="float:right">
      <%= link_to '記事一覧に戻る',root_path %>
    </div>
  </div>
</div>
