<!DOCTYPE html>
<html>
  <head>
    <title>Ametoebook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div class=" container <%= controller_name %> <%= action_name %> ">
      <%= yield %>
      <%=  javascript_include_tag 'application' %>
    </div>
  </body>
</html>
